body,html{
	padding:0px;
	margin:0px;
	font-size: 100%;
	background-color: #323232;
}
#window{
	font-family: 'Chau Philomene One', sans-serif;
	background-color: #323232;
}
#top{
	float: left;
	width: 100%;
	padding: 1em;
	box-sizing:border-box;
	background-color: #e6e7e9;
}
#lines{
	float: left;
	width: 15%;
	background-position: -85px 15px;
}
#phrase{
	float: left;
	width: 85%;
	text-align: center;
	padding:3em;
	box-sizing:border-box;
}
#top a:nth-child(1){
	background-color: #f06335;
}
#top a:nth-child(2){
	background-color: #fbb040;	
}
#top a:nth-child(3){
	background-color: #8dc63f;
}
#top a{
	margin: 0px 10px;
	width: 2em;
	height: 2em;
	border-radius:50%;
	float: left;
}
#img-author{
	border-radius: 50%;
	width: 10em;
	height: 10em;
	margin:auto;
	border:2px solid whitesmoke;
	background-size: cover;
}
h1{
	width: 100%;
	font-size: 3em;
	margin: 0px;
	font-family: 'Helvetica',arial;
	font-weight: normal;
}
#lines span{
	font-size: 4em;
	color:#8f908a;
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px;
	box-sizing:border-box;
}
#lines span:nth-child(odd){
	background-color: #3e3d32;
}
.pink{
	color: #da1c5c;
}
.green{
	color: #a6e22e;
}
#author{
	width: 100%;
	float: left;
	text-align: right;
	font-size: 2em;
	color:whitesmoke;
}
#author a{
	color: #48beef;

}