body,html{
	padding:0px;
	margin:0px;
	font-size: 100%;
	background-color: #323232;
}
#window{
	font-family: 'Chau Philomene One', sans-serif;
	background-color: #323232;
}
#top{
	float: left;
	width: 100%;
	padding: 1em;
	box-sizing:border-box;
	background-color: #e6e7e9;
}
#lines{
	float: left;
	width: 8%;
	background-position: -85px 15px;
}
#phrase{
	float: left;
	width: 92%;
	text-align: center;
	padding: 5em 5em;
	box-sizing:border-box;
}
#top a:nth-child(1){
	background-color: #f06335;
}
#top a:nth-child(2){
	background-color: #fbb040;
}
#top a:nth-child(3){
	background-color: #8dc63f;
}
#top a{
	margin: 0px 10px;
	width: 2em;
	height: 2em;
	border-radius:50%;
	float: left;
	transition: all 0.5s ease;
}
#top a:hover{
	opacity: 0.5;
}
#img-author{
	border-radius: 50%;
	width: 10em;
	height: 10em;
	margin: 35px auto;
	border:2px solid whitesmoke;
	background-size: cover;
}
h1{
	width: 100%;
	font-size: 3em;
	margin: 0px;
	font-family: 'Helvetica',arial;
	font-weight: normal;
}
#lines span{
	font-size: 4em;
	color:#8f908a;
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px;
	box-sizing:border-box;
}
#lines span:nth-child(odd){
	background-color: #3e3d32;
}
.pink{
	color: #da1c5c;
}
.green{
	color: #a6e22e;
}
#author{
	width: 100%;
	float: left;
	text-align: right;
	font-size: 2em;
	color: #48beef;
}
#author a{
	color: #48beef;
}
#instructions {
  position: absolute;
  left: -462px;
  width: 445px;
  color: rgb(221, 221, 221);
  background-color: black;
  border-radius: 20px;
  padding: 10px 0px;
	top: 0px;
	opacity: 0;
	transition: all 0.5s ease;
}
#new-quote{
	padding: 10px;
	background-color: #666;
	color:white;
	position: fixed;
	bottom: 1em;
	right:1em;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
	font-family: 'Helvetica',arial;
	line-height: 1;
}
#new-quote:hover #instructions{
	opacity: 1;
}
#forkme{
	position: absolute;
	top: 0px;
	right: 0px;
}
#forkme img{
	width: 10em;
}
@media screen and (max-width: 768px){
	h1{
		font-size: 2em;
	}
	h1 img{
		width: 1em;
	}
	#author{
		font-size: 2em;
	}
	#lines span{
		font-size: 2em;
	}
	#top a{
		width: 1.4em;
		height: 1.4em;
	}
	#img-author{
		display: inline-block;
		margin: auto;
	}
	#phrase{
		padding: 2em 2em;
	}
}
@media screen and (max-width: 400px){
	h1{
		font-size: 1em;
	}
	#author{
		font-size: 1em;
	}
}
